* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* banner style */

.banner-img {

    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
}

.banner-txt {

    font-weight: 900;
    font-size: 47px;
    text-align: right;
    line-height: 76px;
    padding-right: 160px;
    padding-top: 100px;

}

.banner-para {

    text-align: right;
    color: #444343;
    font-size: 14px;
    line-height: 26px;
    padding-right: 160px;
    padding-top: 25px;

}

/* button css */

.contact-us {

    height: 55px;
    background-color: rgb(255, 115, 0);
    margin-right: 100px;
    color: #fff;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 2px;
    border: 0;
    position: absolute;
    right: 60px;
    top: 490px;

}

/* About Myself */


.about-me{

    display: flex;
    justify-content: center;

}

.person-pic {

    padding-left: 188px;
    padding-top: 100px;
    padding-right: 75px;
    height: 585px;
    width: 460px;
}


.section-topic{
    text-align: left;
    padding-top: 280px;

}

.section-title {

    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: #151414;
      
}


.font-design{

    color: #444343;
    font-size: 13px;

}

.section-desc{

    padding-top: 24px;
    padding-right: 110px;
    color: #444343;
    font-size: 13px;
    line-height: 26px;

}

.pointers{

    padding-top: 16px;
    
}

.pointers > p{

    margin-bottom: 8px;
}
